<launch>
    <!-- Arguments to configure the launch file e.g. whether to run RViz or not -->
    <arg name="rviz" default="false"/> 
    
    <!-- Start the p2os driver for Pioneer robots e.g. the P3AT -->
    <node pkg="p2os_driver" type="p2os_driver" name="p2os_driver">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="pulse" value="1.0"/>
    </node>


    <!-- Run the teleoperator node we have created -->
    <!-- Setting appropriate parameters to refer to the correct joystick axes for commands -->
    <node pkg="robot_server_interface" type="publishMsgFromRobot" name="publishMsgFromRobot" output="screen">  
    </node> 

</launch>
