<launch >
<node pkg=”p2os_driver” type = “p2os_driver” name = “p2os_driver”>
	<param name = “port” value = “/dev/ttyUSB0”/> 
</node> 
<node pkg=”joy” type = “joy_node” name = “joy_node”>
	<param name = “dev” value = “/dev/input/js0” />
</node>

<node pkg = “joyControl” type = “joyControl” name = “joyControl”> </node>

<node name =”rostopic” pkg = “rostopic” type = “rostopic” args=”pub -1 /cmd_motor_state p2os_msgs/MotorState 1” />

</launch>
